# IntelliJ IDEA
/.idea/
/*.iml
/out/
/workspace.xml
/shelf/
/httpRequests/
/dataSources/
/dataSources.local.xml

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Logs
*.log

# JAR files
*.jar

# OS files
.DS_Store
Thumbs.db
